@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #f863d3;
    --branco: #ccb9b9;
    --laranja: #000000;
    --azul-degrade: linear-gradient(97.54deg, #e97dd2 35.49%, #f569d6 165.37%);
    --fonte-principal: "Poppins";
    --azul: #eb86c4;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #f381c7;
    --cinza-claro: #f762be;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}